# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Naga Sai

**Objectives:**
* List Popular Language for Data Science
* List Commonly used libraries for Data Science
* How to display table in the Markdown

* Some of the popular languages that Data Scientists use are:
1. Python
2. R Programming Language
3. SQL

* Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy
4. Keras 
5. Seaborn

| Data Science Tools |
| --- |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
200 // 24

8